# GENERIC CONFIGURATION
GATEWAY_MS_TCP_PORT=3000
GRAPHQL_ROUTING_URL=/graphql

#APOLLO CONFIG
APOLLO_KEY=
APOLLO_GRAPH_REF=my-graph@my-variant

# DATABASE CONFIGURATION
DATABASE_URL=mongodb://example:27017
DATABASE_CLIENT=${DATABASE_URL}/dbname

# LOG CONFIGURATION
LOG_LEVEL=debug
LOG_DATE_PATTERN=YYYY-MM-DD HH:mm:ss
LOG_DIR_NAME=C:\tmp\keadex-einaudi
LOG_FILE_NAME=gateway-%DATE%.log
LOG_FILE_NAME_DATE_PATTERN=YYYYMMDD

# JWT
JWT_SECRET_KEY=secretKey
# expressed in seconds or a string describing a time span [zeit/ms](https://github.com/zeit/ms.js).  Eg: 60, "2 days", "10h", "7d"
JWT_EXPIRES_IN=30m